body {
    background-color: hsl(44, 86%, 90%);
}

.header__logo--link {
    margin-left: 100px;
}

.header {
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #222E50;
    color: white;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.336);
}

.header__logo {
    display: flex;
    gap: 80px;
    
}

.logo__image  {
    height: 70px;
    width: 70px;
}

.button {
    margin-top: 10px;
    background-color: #7A4419;
    color: white;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 170px;
    font-size: 1.15em;
    font-weight: 600;
}

.button--logo {
    transition: transform ease .5s;
}

.button--logo:hover {
    cursor: pointer;
    background-color: #522d10 ;
    transform: scale(1.1);
}

.menu__list {
    list-style: none;
    display: flex;
    font-size: 1.1em;
    gap: 30px;
    margin-right: 20px;
    align-items: center;
}

.list__item {
    padding: 8px;
    border: 3px solid #222E50;
    animation: ease;
    transition: 0.3s;
}

.list__item:hover {
    cursor: pointer;
    border: 3px solid #7A4419;
    border-radius: 20px;
    color: rgb(210, 210, 210);
}

.button--whatsapp{
    display: flex;
    gap: 10px;
    background-color: #479C2C;
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    transition: transform ease .5s;
}

.button--whatsapp:hover {
    cursor: pointer;
    background-color: #1f6e23;
    transform: scale(1.1);
}

.whatsapp__logo {
    height: 25px;
}

.slider {
    padding-top: 5rem;
    overflow: hidden;
}

.slider__width {
    min-height: 600px;
    display: flex;
    transition: all ease .3s;
}

.slider__item {
    width: 100vw;
    height: inherit;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 2px 11px black;
}

.slider__controls {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.slider__button {
    display: flex;
    height: 60px;
    align-items: center;
    transition: background-color ease .5s;
}

.slider__button > img {
    height: 50px;
}



.slider__button--prev {
    transform: rotate(180deg);
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.slider__button--prev:hover {
    background-color: #D9E3F1;
}

.slider__button--next {
    border-radius: 10px 0px 0px 10px;
}

.slider__button--next:hover {
    background-color: #D9E3F1;
    cursor: pointer;
}

.combo__container {
    min-height: 800px;
    width: 55%;
    margin: auto;
    padding-top: 5rem;
}

.title {
    font-size: 2.2rem;
    font-weight: 700;;
}

.title--combo {
    color: #7A4419;
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 500;
}

.combo__cards {
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    margin-top: 4rem;
}

.combo {
    width: 33%;
    height: 28rem;
    border-radius: 7px;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.267);
    padding: 2rem;
    text-align: center;
    background: linear-gradient(135deg, #fff 0%, #fff 25%, #222E50 50%, #1e3c72 75%, #214179 100%);
    background-size: 400% 400%;
    transition: all 0.5s ease-in-out;
}

.combo__desc {
    display: flex;
    justify-content: center;
}

.combo span {
    display: block;
}

.combo__img {
    height: 4rem;
}

.subtitle--combo {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 4rem;
}

.combo__bonus {
    font-weight: 400;
    font-size: 1.2rem;
}

.price {
    margin-top: 1.4rem;
}

.price__only {
    font-weight: 500;
}

.money {
    font-size: 2.4rem;
    font-weight: 700;
}

.button--combo {
    width: 80%;
    transition: all ease .5s;
}

.button--combo:hover {
    cursor: pointer;
    background-color: #522d10;
    transform: scale(1.1);
}

.combo:hover {
    background-position: 100% 100%;
    transform: scale(1.05);
    color:white
}

.partner__container {
        min-height: 650px;
        width: 100%;
        margin: auto;
        background-image: linear-gradient(180deg, hsl(44, 86%, 90%) 50%, hsl(27, 66%, 75%) 50%);
}

.title--partner {
    margin-left: 15%;
}

.partner__wrapper {
    width: 75%;
    min-height: 450px;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    transition: all ease .5s;
}

.partner__solo {
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url(/assets/partner__solo.jpg);
    background-size: cover;
    position: relative;
    transition: all ease 0.3s;
}

.partner__barbershop {
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url(/assets/partner__barbershop.jpg);
    background-size: cover;
    position: relative;
    transition: all ease 0.4s;
}

.partner__desc {
    padding: 2rem;
}

.partner__img {
    width: 6rem;
}

.title--partner__desc {
    color: white;
    font-size: 2.6rem;
    text-shadow: 1px 1px 1px black;
    margin-left: 1rem;
}


.subtitle--partner__desc {
    color: white;
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px black;
    display: none;
}

.button--partner {
    width: 50%;
    margin-top: 5rem;
    margin-left: 5rem;
    background: transparent;
    border: 1px solid white;
    position: absolute;
    bottom: 10%;
    transition: all ease .5s;
}

.button--partner:hover {
    cursor: pointer;
    background-color: #7A4419;
    transform: scale(1.07);
}

.blocks__container {
    background-color: hsl(27, 66%, 75%);
}

.title--blocks {
    text-align: center;
}

.blocks__wrapper {
    min-height: 24rem;
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    align-items: center;
}

.block {
    height: 15rem;
    width: 15rem;
    background-color: hsl(224, 40%, 30%);
    border: 6px solid hsl(224, 40%, 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease .3s;
}

.tesoura {
    transform: rotate(-90deg);
}

.img__block {
    height: 8rem;
}

.block__active {
    position: absolute;
    display: flex;
    align-items: center;
    height: rem;
    width: 12rem;
    display: none;
}

.block:hover {
    background-color: white;
}

.block:hover .block__active {
    display: flex;
    justify-content: center;
}

.block:hover .img__block {
    display: none;
}

.subtitle--inblock {
    font-size: 1.8rem;
    text-align: center;
}

.footer__container {
    background-color: #222E50;
}

.footer__wrapper {
    display: flex;
    min-height: 16rem;
    margin: auto;
    width: 65%;
    gap: 8rem;
    padding: 2rem;
    color: white;
    position: relative;
}

.footer__item {
    text-decoration: none;
}

.footer__item__menu {
    list-style: none;
    margin-left: 10rem;
}

.logo__image--footer {
    height: 8rem;
    width: 8rem;
}

.footer__wrapper::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #83a9eb;
    position: absolute;
    bottom: 0;
}

.title--footer {
    font-size: 1.8rem;
    transition: all ease .3s;

}

.title--footer:hover {
    cursor: pointer;
    color: rgb(210, 210, 210);
}

.subtitle--footer__menu {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    position: relative;
    text-align: center;
}

.subtitle--footer__menu::after {
    content: '';
    position: absolute;
    background-color: #7A4419;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -8px;
    transition: all ease .3s;
}

.subtitle--footer__menu:hover {
    cursor: pointer;
    color: rgb(210, 210, 210);
}

.subtitle--footer__menu:hover::after {
    width: 100%;
}

.footer__end {
    min-height: 3.5rem;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__image--socials {
    height: 2rem;
    width: 2rem;
    margin: 0.7rem;
}