@import url(basiclayout.css);


/* Slider styles */

.slider {
    padding-top: 5rem;
    overflow: hidden;
}

.slider__width {
    min-height: 600px;
    display: flex;
    transition: all ease .3s;
}


.slider__item {
    width: 100vw;
    height: inherit;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 2px 11px black;
}

.slider__item--second {
    background-position: 50% 30%;
}

.slider__controls {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.slider__button {
    display: flex;
    height: 60px;
    align-items: center;
    transition: background-color ease .5s;
}

.slider__button > img {
    height: 50px;
}



.slider__button--prev {
    transform: rotate(180deg);
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.slider__button--prev:hover {
    background-color: #D9E3F1;
}

.slider__button--next {
    border-radius: 10px 0px 0px 10px;
}

.slider__button--next:hover {
    background-color: #D9E3F1;
    cursor: pointer;
}

/* Combos style */

.combo__container {
    min-height: 800px;
    width: 55%;
    margin: auto;
    padding-top: 5rem;
}

.title {
    font-size: 2.2rem;
    font-weight: 700;;
}

.title--combo {
    color: #7A4419;
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 500;
}

.combo__cards {
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    margin-top: 4rem;
}

.combo {
    width: 33%;
    height: 28rem;
    border-radius: 7px;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.267);
    padding: 2rem;
    text-align: center;
    background: linear-gradient(135deg, #fff 0%, #fff 25%, #222E50 50%, #1e3c72 75%, #214179 100%);
    background-size: 400% 400%;
    transition: all 0.5s ease-in-out;
}

.combo__desc {
    display: flex;
    justify-content: center;
}

.combo span {
    display: block;
}

.combo__img {
    height: 4rem;
}

.subtitle--combo {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 4rem;
}

.combo__bonus {
    font-weight: 400;
    font-size: 1.2rem;
}

.price {
    margin-top: 2rem;
}

.price::before {
    content: '';
    width: 90%;
    height: 1px;
    background-color: #D9E3F1;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

.price__only {
    font-weight: 500;
}

.money {
    font-size: 2.4rem;
    font-weight: 600;
}

.button--combo {
    width: 80%;
    transition: all ease .5s;
}

.button--combo:hover {
    cursor: pointer;
    background-color: #522d10;
    transform: scale(1.1);
}

.combo:hover {
    background-position: 100% 100%;
    transform: scale(1.05);
    color:white
}

.combo:hover .title--combo {
    color: white;
}

/* Partners style */

.partner__container {
        min-height: 650px;
        width: 100%;
        margin: auto;
        background-image: linear-gradient(180deg, hsl(44, 86%, 90%) 50%, hsl(27, 66%, 75%) 50%);
}

.title--partner {
    margin-left: 15%;
}

.partner__wrapper {
    width: 75%;
    min-height: 450px;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    transition: all ease .5s;
}

.partner__solo {
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url(/assets/partner__solo.jpg);
    background-size: cover;
    position: relative;
    transition: all ease 0.3s;
}

.partner__barbershop {
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url(/assets/partner__barbershop.jpg);
    background-size: cover;
    position: relative;
    transition: all ease 0.4s;
}

.partner__desc {
    padding: 2rem;
}

.partner__img {
    width: 6rem;
}

.title--partner__desc {
    color: white;
    font-size: 2.6rem;
    text-shadow: 1px 1px 1px black;
    margin-left: 1rem;
}


.subtitle--partner__desc {
    color: white;
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px black;
    display: none;
}

.button--partner {
    width: 50%;
    margin-top: 5rem;
    margin-left: 5rem;
    background: transparent;
    border: 1px solid white;
    position: absolute;
    bottom: 10%;
    transition: all ease .5s;
}

.button--partner:hover {
    cursor: pointer;
    background-color: #7A4419;
    transform: scale(1.07);
}

/* Blocks style */

.blocks__container {
    background-color: hsl(27, 66%, 75%);
}

.title--blocks {
    text-align: center;
}

.blocks__wrapper {
    min-height: 24rem;
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    align-items: center;
}

.block {
    height: 15rem;
    width: 15rem;
    background-color: hsl(224, 40%, 30%);
    border: 6px solid hsl(224, 40%, 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease .3s;
}

.tesoura {
    transform: rotate(-90deg);
}

.img__block {
    height: 8rem;
}

.block__active {
    position: absolute;
    display: flex;
    align-items: center;
    height: rem;
    width: 12rem;
    display: none;
}

.block:hover {
    background-color: white;
}

.block:hover .block__active {
    display: flex;
    justify-content: center;
}

.block:hover .img__block {
    display: none;
}

.subtitle--inblock {
    font-size: 1.8rem;
    text-align: center;
}

/* Window area */

.plan__windowarea {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.plan__windowbody {
    width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(148, 148, 148);
    display: flex;
}

.window__img {
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    height: 450px;
}

.plan__info {
    flex: 1;
}

.title--plan__info {
    text-align: center;
    margin-top: 2rem;
}

.plan__select {
    margin: 1.8rem;
    display: flex;
    justify-content: center;
}

.select__button {
    font-size: 1.4rem;
    font-weight: 500;
    background-color: rgb(199, 199, 199);
    width: 8rem;
    height: 2.2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.425);
}

.select__button--first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.select__button--second {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.selected {
    background-color: #214179;
    color: white;
}

.plan__desc {
    margin: 2rem;
}

.plan__buttons {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.button--planbutton__first {
        background-color: rgb(199, 199, 199);
        color: black;
}

.button--planbutton__second {
    background-color: #214179;
    color: white;
    width: 15rem;
    height: 4rem;
}

.plan__buttons {
    cursor: pointer;
}

.window__price {
    display: flex;
    width: 30%;
    margin: auto;
    gap: 1.6rem;
    align-items: center;
}

.currency {
    font-size: 1.4rem;
}


